*{
    padding: 0;
    margin: 0;
}

.display{
    width: 100%;
    height: 109vh;
    background-image: url("https://img.freepik.com/premium-photo/black-stone-cooking-background-spices-vegetables-top-view-free-space-your-text_187166-3514.jpg?size=626&ext=jpg");
    background-size: cover;
    color: azure;
   
}